<html>
  <head>
    <title>Student Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the Student Dashboard</h1>
    <h2>Courses Available for Registration:</h2>
    <ul>
      {{#each availableCourses}}
        <li>
          <input type="radio" id="{{this}}" name="selectedCourse" value="{{this}}" />
          <label for="{{this}}">Course {{inc @index}}: {{this}}</label>
        </li>
      {{/each}}
    </ul>

    <!-- Form to register a course -->
    <form action="/registercourse" method="POST">
      <button type="submit">Register Course</button>
    </form>

    <h2>Registered Courses:</h2>
    <!-- Display currently registered courses -->
    <ul>
      {{#each registeredCourses}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <script>
      Handlebars.registerHelper('inc', function(value, options) { return parseInt(value) + 1; });
    </script>
  </body>
</html>
